<template>
    <div>
        <b-card title="Datos de contacto:">
            <b-card-text>
                <b-table light hover :items="contactos" :fields="colContactos">
                    <template v-slot:cell(acciones)="row">
                        <b-button v-b-modal.modalCont-prevent-closing  variant="primary" size="sm"  class="mr-1"
                            @click="editarDatoCont(row.item)"> Editar</b-button>
                        <b-button v-on:click="eliminarContacto(row.item)" variant="danger" size="sm" class="mr-1">
                            Quitar</b-button>
                    </template>
                </b-table>
                <b-col offset="9">
                    <b-button v-b-modal.modalCont-prevent-closing variant="success" size="sm"
                            @click="nuevoDatoCont">Agregar contacto</b-button>
                </b-col>
            </b-card-text>
            
        </b-card>

        <b-modal id="modalCont-prevent-closing" ref="modalCont" @ok="handleOkCont">
            <div slot="modal-title">
                {{ tituloCont }}
            </div>
            <form ref="form">
                <b-form-group :state="contactoState" id="contactoSel" 
                    label="Tipo: " label-for="contactoTipo" invalid-feedback="Debe ingresar un tipo de contacto.">
                    <b-form-input id="contactoTipo" required v-model="tipo" />
                </b-form-group>
                <b-form-group :state="contactoState" id="contactoDet" 
                    label="Detalle: " label-for="contacto" invalid-feedback="Debe ingresar un contacto.">
                    <b-form-input id="contacto" required v-model="contacto" />
                </b-form-group>
            </form>
        </b-modal>

    </div>
</template>
<script>
export default {
    data() {
        return {        
            //tabla contactos
            colContactos: [
                {key: 'tipo_contacto', label: 'Tipo de cont.'},
                {key: 'detalle', label: 'Detalle'},
                'acciones'
            ],
            idDatoContacto: null,
            //modal datos contacto
            tituloCont: '',
            disabledTipo: false,
            contactoState: null,
            tipo: null,
            contacto: null,
            observ: null
        }
    },
    props: ['idPersona', 'tipoPersona', 'contactos'],
    methods: {
        nuevoDatoCont(){
            this.tituloCont = 'Nuevo dato de contacto';
            this.disabledTipo = false;
            this.resetModalCont();
        },
        resetModalCont() {
            this.tipo = null;
            this.contacto = null;
            this.observ = null;
            this.idDatoContacto = null;
        },
        editarDatoCont(contactoItem){
            this.tituloCont = 'Editar dato de contacto';
            this.tipo = contactoItem.tipo_contacto;
            this.contacto = contactoItem.detalle;
            this.idDatoContacto = contactoItem.id
            this.disabledTipo = true;
        },
        handleOkCont(bvModalEvt) {
            bvModalEvt.preventDefault();
            if (this.tipo!= null && this.contacto!= null){                    
                var form = {
                    tipo_contacto: this.tipo,
                    detalle: this.contacto,
                    personaTipo: this.tipoPersona,
                    personaId: this.idPersona
                }
                if (this.idDatoContacto == null) {
                    this.axios.post('/contactos', form)
                    .then(response => {
                        this.$emit('getPersona')
                    });
                } else {
                    this.axios.put(`/contactos/${this.idDatoContacto}`, form)
                    .then(response => {
                        this.$emit('getPersona')
                    });
                }
                this.$nextTick(() => {
                    this.$bvModal.hide('modalCont-prevent-closing');
                })
            }  
        },
        eliminarContacto(item){
            var form = {
                personaTipo: this.tipoPersona,
                personaId: this.idPersona,
                idDatoContacto: item.id
            }
            this.$confirm(`¿Seguro que desea eliminar el dato de contacto?`,'','question')
            .then(()=>{
                this.axios.delete(`/contactos`, {data: form})
                .then(response => {
                    this.$emit('getPersona')
                })
                .catch(e => {
                    this.$alert('Hubo algun error, no se puede eliminar.',
                    'Error','error')
                })
            })
        }
    }
}
</script>