<template>
    <b-container fluid>
        <b-row class="barra-superior mb-3">
            <div class="pt-2 pb-2" style="padding-left: 5em!important;"><h2>Técnicos</h2></div>
        </b-row>
        <b-row>
            <b-col offset="8">
                <b-button :to="{ name: 'tecnico-create'}" variant="success">Crear</b-button>
            </b-col>
        </b-row>
        <b-row class="mt-4 ml-4">
            <b-col cols="8">
                <b-table striped hover :items="tecnicos" :fields="columnas">
                    <template v-slot:cell(acciones)="row">
                        <b-button :to="{ name: 'tecnico-show', params: { id: row.item.id }}" variant="warning" size="sm" class="mr-2">
                            Ver más</b-button>
                        <b-button :to="{ name: 'tecnico-edit', params: { id: row.item.id }}" variant="primary" size="sm"  class="mr-2">
                            Editar</b-button>
                        <b-button v-on:click="eliminar(row.item)" variant="danger" size="sm" >Eliminar</b-button>
                    </template>
                </b-table>
            </b-col>            
        </b-row>
    </b-container>
</template>

<script>
export default {
    data () {
        return {
            columnas: [
                {key: 'id', thClass: 'd-none', tdClass: 'd-none' },
                {key: 'apellido', label: 'Apellido'}, 
                {key: 'nombre', label: 'Nombre'}, 
                {key: 'tipoDoc.tipo', label: 'Tipo Doc.'}, 
                {key: 'nro_doc', label: 'Nro Doc.'},
                'acciones'
            ],
            tecnicos: []
        }
    },
    mounted () {
        this.axios.get('/tecnicos')
        .then(response => {
            this.tecnicos = response.data
        })
    },
    methods: {
        eliminar (tecnico) {
            this.$confirm(`¿Seguro que desea eliminar al tecnico ${tecnico.nombre} ${tecnico.apellido}?`,'','question')
                .then(()=>{
                    // enviamos request para eliminar
                    this.axios.delete(`/tecnicos/${tecnico.id}`)
                    .then(response => {
                        // si fue correcto, lo quitamos de la vista
                        const indice = this._.findIndex(this.tecnicos, ['id', tecnico.id])
                        this.$delete(this.tecnicos, indice)
                    })
                    .catch(e => {
                        this.$alert('El tecnico tiene datos de contactos asociados, no se puede eliminar.',
                        'Error','error')
                    })
                })
        }
    }
}
</script>