<template>
    <b-container fluid>
        <b-row class="barra-superior mb-3">
            <div class="pt-2 pb-2" style="padding-left: 5em!important;"><h2>Datos del técnico: </h2></div>
        </b-row>
        <b-row>
            <b-col offset="8">
                <b-button :to="{ name: 'tecnicos'}" variant="danger" class="ml-5 mr-2">
                    Volver</b-button>
            </b-col>
        </b-row>  
        <b-row class="mt-4 ml-4">
            <b-col cols="8">
                <p><b>Apellido y nombre:</b> {{ tecnico.apellido }} {{ tecnico.nombre }}</p>
                <p><b>Tipo de doc:</b> {{ tecnico.tipoDoc.tipo }} <b>Nro de doc:</b> {{ tecnico.nro_doc }}</p>
            </b-col>
            <b-col cols="7">
                <datos-contacto v-bind:idPersona = tecnico.id v-bind:contactos = contactos
                        tipoPersona="tecnico" @getPersona = getTecnico()>
                </datos-contacto>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import DatosContacto from '../modalsContactos/DatosContacto.vue';
    export default {
        components: {
            DatosContacto
        },
        data () {
            return {
                tecnico:{},
                contactos: []
            }
        },
        created () {
            this.getTecnico();            
        },
        methods: {
            getTecnico(){
                this.axios.get(`/tecnicos/${this.$route.params.id}`)
                .then(response => {
                    this.tecnico = response.data[0];
                    this.contactos = this.tecnico.contacto
                });
            }
        }
    }
</script>
<style>
p {
    text-align: start;
}
</style>