<template>
    <b-container fluid>
        <b-row class="barra-superior mb-3">
            <div class="pt-2 pb-2" style="padding-left: 5em!important;"><h2>Listado de dispositivos</h2></div>
        </b-row>
        <b-row>
            <b-col offset="8">
                <b-button variant="success" v-b-modal.modal-tipo-prevent-closing>Crear Tipo</b-button>
            </b-col>
        </b-row>
        <b-row class="mt-4 ml-4">
            <b-col cols="8">
                <template v-for="tipo in tipos">
                    <b-row class="mt-1 ml-3 mb-2">
                        <h4 class="text-left mb-3">{{ tipo.tipo }}:</h4>
                    <b-col offset="5">
                        <b-button @click="setTipoId(tipo.id)" variant="warning" v-b-modal.modal-marca-prevent-closing>Asociar marca</b-button>
                    </b-col>
                    </b-row>
                    <table class="table table-hover mb-5">
                        <thead>
                            <tr>
                                <td><strong>Marca</strong></td>
                                <td><strong>Acciones</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, key) in dispositivos" :key="key">
                                <td v-if="item.tipo_dispositivo_id == tipo.id">{{ item.marca.marca }}</td>
                                <td v-if="item.tipo_dispositivo_id == tipo.id">                                
                                    <b-button variant="info" size="sm" class="mr-2" @click="editarMarca(item.marca)"
                                        v-b-modal.modal-marca-prevent-closing>
                                        Editar</b-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </template> 
            </b-col>           
        </b-row>

        <!-- MODAL PARA TIPOS -->
        <b-modal id="modal-tipo-prevent-closing" ref="modalTipo" title="Nuevo Tipo de dispositivo" @show="resetModalTipo"
            @hidden="resetModalTipo" @ok="handleTipoOk">
            <form ref="formTipo" @submit.stop.prevent="handleTipoSubmit">
                <b-form-group label="Tipo" label-for="tipo-input" invalid-feedback="El tipo de dispositivo es requerido" :state="tipoState">
                <b-form-input id="tipo-input" v-model="tipo" :state="tipoState" required></b-form-input>
                </b-form-group>
            </form>
        </b-modal>

        <!-- MODAL PARA Asociar MARCAS -->
        <b-modal id="modal-marca-prevent-closing" ref="modalMarca" title="Nueva marca de dispositivo"
            @hidden="resetModalMarca" @ok="handleMarcaOk">
            <form ref="formMarca" @submit.stop.prevent="handleMarcaSubmit">
                <b-form-group label="Marca" label-for="marca-sel" invalid-feedback="La marca es requerida" :state="marcaState">
                    <b-form-input v-if="marcaEditar || marcaNuevo" id="marca-input" v-model="marcaText" :state="marcaState" required></b-form-input>
                    <v-select v-if="!marcaEditar && !marcaNuevo" class="ml-2" name="marca-sel" label="marca"
                        :options="marcas" v-model="marca" :searchable="true">
                        <span slot="no-options">
                            Aún no hay marcas en registradas.
                        </span>
                    </v-select>
                </b-form-group>
                <b-button v-if="!marcaNuevo && !marcaEditar" variant="info" size="sm" class="mr-2"  @click="marcaNuevo = true">
                                        Agregar Marca</b-button>
            </form>
        </b-modal>

    </b-container>
</template>

<script>

export default {
    data () {
        return {
            dispositivos: [],
            tipos:[],
            marcas: [],
            tipo: '',
            tipoId: '',
            tipoState: null,
            marca: '',
            marcaText: '',
            marcaState: null,
            marcaEditar: false,
            marcaNuevo: false
        }
    },
    created () {
        this.axios.get('/tipos-disp-marca')
        .then(response => {
            this.dispositivos = response.data
        })
        this.axios.get('/tipos-disp')
        .then(response => {
            this.tipos = response.data    
        })
        this.axios.get('/marcas')
        .then(response => {
            this.marcas = response.data    
        })
    },
    methods: {
      setTipoId(id){
          this.tipoId = id
      },
      editarMarca(marca){
           this.marcaEditar = true
           this.marca = marca
           this.marcaText = marca.marca
      },
      checkFormTipoValidity() {
        const valid = this.$refs.formTipo.checkValidity()
        this.tipoState = valid
        return valid
      },
      resetModalTipo() {
        this.tipo = ''
        this.tipoState = null
      },
      handleTipoOk(bvModalEvt) {
        // Prevent modal from closing
        bvModalEvt.preventDefault()
        // Trigger submit handler
        this.handleTipoSubmit()
      },
      handleTipoSubmit() {
        // Exit when the form isn't valid
        if (!this.checkFormTipoValidity()) {
          return
        }
        const existeTipo = this.tipos.find(x => x.tipo === this.tipo)
        //console.log(existeTipo)
        if (!existeTipo) {
            //Agregar tipo
            const form = {
                tipo: this.tipo
            }
            this.axios.post('/tipos-disp', form)
            .then(response => {
                        this.$alert('El tipo de dispositivo fue cargado con éxito.',
                            'Ok.','success')
                    this.tipos.push(response.data)
                })
            // Hide the modal manually
            this.$nextTick(() => {
                this.$bvModal.hide('modal-tipo-prevent-closing')
            }) 
        }
        else this.$alert('El tipo de dispositivo ya existe.',
                            'Error.','error')
      },
      checkFormMarcaValidity() {
        const valid = this.$refs.formMarca.checkValidity()
        this.marcaState = valid
        return valid
      },
      resetModalMarca() {
        this.marca = ''
        this.marcaState = null
        this.marcaEditar = false
        this.marcaNuevo = false
      },
      handleMarcaOk(bvModalEvt) {
        // Prevent modal from closing
        bvModalEvt.preventDefault()
        // Trigger submit handler
        this.handleMarcaSubmit()
      },
      handleMarcaSubmit() {
        // Exit when the form isn't valid
        if (!this.checkFormMarcaValidity()) {
          return
        }
        if (this.marcaEditar) { //si estoy editando la marca
            const form = {
                id: this.marca.id,
                marca: this.marcaText
            }
            this.axios.put(`/marcas/${form.id}`, form)
            .then(response => {
                this.marcaEditar = false
                /* const marcaAux = response.data
                console.log(marcaAux)
                const index = marcas.findIndex((el) => el.id === marcaAux.id)
                marcas[index] = marcaAux */
                this.axios.get('/tipos-disp-marca')
                .then(response => {
                    this.dispositivos = response.data
                })
                this.axios.get('/tipos-disp')
                .then(response => {
                    this.tipos = response.data    
                })
                this.axios.get('/marcas')
                .then(response => {
                    this.marcas = response.data    
                })
                this.$alert('La marca fue editada con éxito.',
                            'Ok.','success')
            })
        }else if (this.marcaNuevo){ //si estoy creando una marca
            const form = {
                marca: this.marcaText
            }
            this.axios.post('/marcas', form)
            .then(response => {
                this.marcas.push(response.data)
                this.marcaNuevo = false
                this.$bvModal.show('modal-marca-prevent-closing')
            })
        }else{ //sino asocio
            const form = {
                tipoId: this.tipoId,
                marcaId: this.marca.id
            }
            this.axios.post('/tipos-disp-marca', form)
            .then(response => {
                    this.$alert('El tipo de dispositivo fue cargado con éxito.',
                            'Ok.','success')
                    this.dispositivos.push(response.data[0])
                })
        }
        // Hide the modal manually
        this.$nextTick(() => {
          this.$bvModal.hide('modal-marca-prevent-closing')
        })
      }
    }
}
</script>