<template>
    <b-container fluid>
        <b-row class="barra-superior mb-3">
            <div class="pt-2 pb-2" style="padding-left: 5em!important;"><h2>Nuevo cliente: </h2></div>
        </b-row>
        <b-row>
            <b-col offset="8">
                <b-button :to="{ name: 'clientes'}" variant="danger" class="ml-5 mr-2">
                    Listado</b-button>
            </b-col>
        </b-row>  
        <b-row class="mt-4 ml-4">
            <b-col cols="8">
                <b-form @submit="onSubmit">
                    <b-form-group id="nombreGroup"
                                label="Nombre"
                                label-for="nombre">
                        <b-form-input id="nombre"
                                    type="text"
                                    v-model="form.nombre" required>
                        </b-form-input>
                    </b-form-group>
                    <b-form-group id="apellidoGroup"
                                label="Apellido"
                                label-for="apellido">
                        <b-form-input id="apellido"
                                    type="text"
                                    v-model="form.apellido" required>
                        </b-form-input>
                    </b-form-group>
                    <b-form-group :state="tipoDocState" id="tipoDocSel" 
                        label="Tipo de documento: " label-for="tipoDoc" invalid-feedback="Debe ingresar un tipo de documento.">
                        <b-form-select id="tipoDoc" :options="tipoDocCombo" required v-model="form.tipoDoc" :disabled="disabledTipoDoc"/>
                    </b-form-group>
                    <b-form-group id="nro_docGroup"
                                label="Nro documento"
                                label-for="nro_doc">
                        <b-form-input id="nro_doc"
                                    type="number"
                                    v-model="form.nro_doc" required>
                        </b-form-input>
                    </b-form-group>
                    <b-form-group :state="condIvaState" id="condIvaSel" 
                        label="Condición de IVA: " label-for="condIvaDoc" invalid-feedback="Debe ingresar una condicine de IVA.">
                        <b-form-select id="condIva" :options="condIvaCombo" required v-model="form.condIva" :disabled="disabledCondIva"/>
                    </b-form-group>
                    <b-button :to="{ name: 'clientes'}" variant="danger" class="ml-5">Cancelar</b-button>
                    <b-button type="submit" variant="success" class="ml-4">Crear</b-button>
                </b-form>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
export default {
    data () {
        return {
            tipoDocCombo: [{value: null, text: "Seleccione el tipo de doc..."}],
            condIvaCombo: [{value: null, text: "Seleccione la condicion de IVA..."}],
            form: {
                nombre: '',
                apellido: '',
                tipoDoc: null,
                nro_doc: '',
                condIva: null,
            },
            tipoDocState: null,
            disabledTipoDoc: false,
            condIvaState: null,
            disabledCondIva: false
        }
    }, 
    mounted() {        
        this.axios.get('/tipos-doc')
        .then(response => {
            var array = response.data;
            for (let index = 0; index < array.length; index++) {
                //comparar si ya tengo niveles en mi colegio para no mostrarlo
                this.tipoDocCombo.push({value: array[index].id, text: array[index].tipo});
            }
        });
        this.axios.get('/tipos-iva')
        .then(response => {
            var array = response.data;
            for (let index = 0; index < array.length; index++) {
                //comparar si ya tengo niveles en mi colegio para no mostrarlo
                this.condIvaCombo.push({value: array[index].id, text: array[index].condicion});
            }
        });
    },
    methods: {
        onSubmit (evt) {
            evt.preventDefault();
            this.axios.post(`/clientes`, this.form)
            .then(response => {
                    this.$alert('El cliente fue cargado con éxito.',
                        'Ok.','success')
                this.$router.push({ name: 'cliente-show', params: {id: response.data.id}});
            })
        }
    }
}
</script>
