<template>
    <b-container fluid>
        <b-row class="barra-superior mb-3">
            <div class="pt-2 pb-2" style="padding-left: 5em!important;"><h2>Datos del cliente: </h2></div>
        </b-row>
        <b-row>
            <b-col offset="8">
                <b-button :to="{ name: 'clientes'}" variant="danger" class="ml-5 mr-2">
                    Volver</b-button>
            </b-col>
        </b-row>  
        <b-row class="mt-4 ml-4">
            <b-col cols="8">
                <p><b>Apellido y nombre:</b> {{ cliente.apellido }} {{ cliente.nombre }}</p>
                <p><b>Tipo de doc:</b> {{ cliente.tipoDoc.tipo }} <b>Nro de doc:</b> {{ cliente.nro_doc }}</p>
                <p><b>Condición de IVA:</b> {{ cliente.condIva.condicion }}</p>
            </b-col>
            <b-col cols="7">
                <datos-contacto v-bind:idPersona = cliente.id v-bind:contactos = contactos
                        tipoPersona="cliente" @getPersona = getCliente()>
                </datos-contacto>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import DatosContacto from '../modalsContactos/DatosContacto.vue';
    export default {
        components: {
            DatosContacto
        },
        data () {
            return {
                cliente:{},
                contactos: []
            }
        },
        created () {
            this.getCliente();            
        },
        methods: {
            getCliente(){
                this.axios.get(`/clientes/${this.$route.params.id}`)
                .then(response => {
                    this.cliente = response.data[0];
                    this.contactos = this.cliente.contacto
                });
            }
        }
    }
</script>
<style>
p {
    text-align: start;
}
</style>