<template>
  <div class="container-fluid">
    <b-row class="barra-superior">
      <div class="pt-2 pb-2" style="padding-left: 5em!important;">Inicio</div>
    </b-row>
    <b-row class="logo">
      <img alt="El androide" src="../assets/inicio.jpg">
    </b-row>
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'home',
  components: {
  }
}
</script>

<style>
.logo{    
  justify-content: center;
  padding: 15px;
  padding-bottom: 0px;
}
.logo img {
  width: 50%;
  height: 50%;
}
</style>
