<template>
<div class="container-fluid">
    <b-row class="imprimir">
        <div class="col-3">
            <b-button variant="success" size="lg" @click="imprimir">Imprimir</b-button>
        </div>
    </b-row>
    <b-row style="margin-left: 5%; margin-top: 3%;">
        <img :src="output" style="display: none">
        <div class="container-fluid">
            <div id="factura" ref="factura">
                <div class="row">
                    <div id="tipo-comp" class="linea">
                        <h1>{{letra}}</h1>
                        <p>COD. {{ comprobante.detalle.tipocomp.value }}</p>
                    </div> 
                    <div class="col linea">
                        <div id="datos-empresa" class="mt-3 mb-2">
                            <img src="../assets/logo.jpg" alt="LOGO">
                            <h1>El Androide</h1>
                            <div id="datos-empresa-detalle">
                                <p>de Gomez Gabriel</p>
                                <p><strong>Venta al por menor de máquinas y equipos</strong></p>
                                <p><strong>para oficina y sus componentes y repuestos</strong></p>
                                <p class="contacto">Gobernador Paz 1347</p>
                                <p class="contacto">(9410) Ushuaia - Tierra del Fuego</p>
                            </div>                   
                        </div>
                    </div>
                    <div class="col linea">
                        <div id="datos-factura" class="mt-5 mb-2">                        
                            <h2>{{ tipoComp() }}</h2>
                            <h5>Pto de venta: {{ ptoVta }} Comp. Nº 
                                {{ nroComp() }}</h5>
                            <h5>Fecha de emision: {{ fecha(comprobante.detalle.fecha) }}</h5>
                            <div class="datos-enlinea">
                                <p class="etiquetas">C.U.I.T.</p>
                                <p class="etiquetas">Ingresos brutos</p>
                                <p class="etiquetas">Inicio de actividades</p>
                            </div>
                            <div class="datos-enlinea">
                                <p class="datos">{{ cuit }}</p> <!-- CUIT -->
                                <p class="datos">9991544080</p>
                                <p class="datos">18/07/2018</p>
                            </div>
                        </div>
                    </div>
                </div>                       
                <div class="row justify-content-center linea"  v-show="comprobante.detalle.conceptos.value != 1">
                    <div id="fechas" class="col align-items-center">
                        <p style="margin-top: 7px; font-size: 1.2em">Fecha del servicio desde {{ fecha(comprobante.detalle.fechadesde) }}  
                            hasta {{ fecha(comprobante.detalle.fechahasta) }} 
                        <span class="ml-5">Vto. para el pago {{ fecha(comprobante.detalle.fechavto) }}</span></p>
                    </div>
                </div>
                <div class="row linea letra">
                    <div class="col-4 offset-1 mt-3">
                        <strong>{{ comprobante.cabecera.tipodoc }}: </strong>{{ comprobante.cabecera.doc }}
                    </div>
                    <div class="col-7 mt-3">
                        <strong class="ml-5">Nombre/Razón Social: </strong>{{ comprobante.cabecera.nombre }}
                    </div>
                    <div class="col-4 offset-1 mt-2">
                        <strong>Condición frente al IVA: </strong>{{ comprobante.cabecera.condiva }}
                    </div>        
                    <div class="col-7 mt-2">
                        <strong class="ml-5">Domicilio: </strong>{{ comprobante.cabecera.domicilio }}
                    </div>
                    <div class="col-5 mb-3 mt-2">
                        <strong class="ml-5">Condición de venta: </strong>{{ comprobante.detalle.pago }}
                    </div>
                    <div class="col-7 mb-3 mt-2" v-show="comprobante.detalle.tipocomp.value == '012' || comprobante.detalle.tipocomp.value == '013'">
                        <strong class="ml-5">Comp. Asociado: </strong>{{ comprobante.nroAsoc }}
                    </div>
                </div>
                <div class="row linea" style="height: 700px">
                    <table class="table table-borderless">
                        <thead class="thead-light">
                            <tr>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Precio Unit.</th>
                            <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, idx) in comprobante.items" :key="idx">
                                <td>{{ item.cantidad }}</td>
                                <td>{{ item.descripcion }}</td>
                                <td>{{ item.precioUnitario }}</td>
                                <td>{{ item.subtotal }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row linea letra">
                    <div class="col offset-8 my-3"><strong>Total:</strong></div>
                    <div class="col my-3">{{ comprobante.total }}</div>
                </div>
                <div class="row pb-5 linea-lat letra" style="border-bottom: 1px solid black;">
                    <div class="col offset-1 mt-5">
                        <img id="barcode"/>
                    </div>
                    <div class="col ml-4 mb-3 mt-5">
                        <div class="my-3">
                            <strong>CAE Nº: {{ comprobante.cae }}</strong>
                        </div>
                        <div class="my-3">
                            <strong>Fecha vto. CAE: {{ fecha(comprobante.fechavtocae) }}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-row>
</div>
    
</template>

<script>
    import { CUIT, PTOVTA } from '../constantes.js'
    import { mapState, mapGetters } from 'vuex'
    import jsPDF  from 'jspdf'
    import html2canvas from 'html2canvas'
    import moment from 'moment'
    import JsBarcode from 'jsbarcode'

    export default {
        name: "ComprobanteImp",
        data() {
            return {
                output: null,
                codigo: '',
                cuit: CUIT,
                ptoVta: PTOVTA,
                letra: ''
            }
        },
        computed: {
            ...mapState(['comprobante']),
            ...mapGetters(['compActualizado'])
        },
        mounted() {
            //this.guardar(),
            this.datosCodigo()
        },
        methods: {
            datosCodigo: function() {
                var par = 0;
                var impar = 0;
                var cod = 0;
                var digito = 0;
                var codChr = this.cuit + this.compActualizado.detalle.tipocomp.value + this.ptoVta + 
                    this.comprobante.cae + this.comprobante.fechavtocae
                for (let i = 0; i < codChr.length; i++) {
                    if (i % 2 == 0) { //al reves porque empieza en cero
                        impar+= (parseInt(codChr[i]))
                    } else {
                        par+= (parseInt(codChr[i]))
                    }
                }
                impar = impar * 3
                cod = par + impar
                digito = 10 - (cod % 10);
                if (digito == 10) {
                    digito = 0
                }
                codChr = codChr + digito
                JsBarcode("#barcode",codChr,{format: "ITF"})
                var tipocomp = this.compActualizado.detalle.tipocomp.value
                if (tipocomp == '006') {
                    this.letra = 'B'
                }
                else if (tipocomp == '051') {
                    this.letra = 'M'
                }
                else if (tipocomp == '011') {
                    this.letra = 'C'
                }
            },
            tipoComp: function(){
                var comp = ''
                var tipocomp = this.compActualizado.detalle.tipocomp.value
                if (tipocomp == '006' || tipocomp == '051'){
                    comp = 'FACTURA'
                }
                else if (tipocomp == '007' || tipocomp == '052'){
                    comp = 'NOTA DÉBITO'
                } 
                else if (tipocomp == '008' || tipocomp == '053'){
                    comp = 'NOTA CRÉDITO'
                }
                return comp
            },
            nroComp: function(){
                var nro= '';
                var index = 8 - this.compActualizado.cbtedesde.length;
                for (var i = 0; i < index; i++) {
                    nro = nro+'0';
                }
                nro = nro+this.compActualizado.cbtedesde
                return nro;
            },
            nombreArch: function(){
                var comp = this.tipoComp()
                var nro = this.nroComp();               
                var name = ''+comp+'-'+
                       nro+'.pdf';
                return name
            },
            /*guardar: function () {

                var element = this.$refs.factura;
                var w = 1400;
                var name = this.nombreArch();
                html2canvas(element, {x: 0, y: 0, width:w}).then(canvas => {                
                    var image = canvas.toDataURL('image/png');
                    var pdf = new jsPDF('P', 'mm');
                    pdf.setFontSize(18);	
                    pdf.text(90, 10, 'ORIGINAL');
                    pdf.addImage(image, 'png',0, 11, 205, 275);
                    pdf.addPage('P', 'mm');
                    pdf.text(90, 10, 'DUPLICADO');
                    pdf.addImage(image, 'png',0, 11, 205, 275);
                    pdf.addPage('P', 'mm');
                    pdf.text(90, 10, 'TRIPILICADO');
                    pdf.addImage(image, 'png',0, 11, 205, 275);
                    var blobPDF =  new Blob([ pdf.output('blob') ], { type : 'application/pdf'});
                    let formData = new FormData();
                    formData.append('file', blobPDF, name);
                    formData.append('fecha', this.compActualizado.detalle.fecha);
                    formData.append('nombre', name);
                    axios.post( '/upload', formData,{
                        headers: { 'Content-Type': 'multipart/form-data'}
                    }).then(function(){
                        console.log('SUCCESS!!');
                    }).catch(function(){
                        console.log('FAILURE!!');
                    });
                })
            },*/
            imprimir: function() {
                var element = this.$refs.factura;
                var w = 1600;
                var h = 1750;                
                var name = this.nombreArch();
                html2canvas(element, {x: 0, y: 0, width:w, height:h}).then(canvas => {
                    var image = canvas.toDataURL('image/png');
                    var pdf = new jsPDF('P', 'mm');
                    pdf.setFontSize(18);
                    pdf.addImage(image, 'png', -36, 0, 250, 270);	
                    pdf.text(90, 20, 'ORIGINAL');
                    pdf.addPage('P', 'mm');
                    pdf.addImage(image, 'png', -36, 0, 250, 270);
                    pdf.text(87, 20, 'DUPLICADO');
                    pdf.addPage('P', 'mm');
                    pdf.addImage(image, 'png', -36, 0, 250, 270);
                    pdf.text(86, 20, 'TRIPILICADO');
                    pdf.save(name);
                });
            },
            fecha: function(fecha){
                return moment(String(fecha)).format('DD/MM/YYYY')
            }
        }
    }
</script>

<style>
    #factura {
        position: absolute;
        width: 90%;
        height: 1600px;
    }
    .col {
        padding: 0px!important;
    }
    div#datos-empresa img {
        width: 20%;
    }
    #tipo-comp {
        width: 10%;
        position: absolute;        
        left: 45%;
        background-color: white;
        z-index: 1000;
    }
    #datos-empresa-detalle > p, #tipo-comp > p, #fechas > p {
        text-align: center;
    }
    .datos-enlinea {
        display: inline-block;
        margin-top: 40px;
    }
    #factura p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }
    p.etiquetas {
        text-align: left;
    }
    p.datos {
        text-align: right;
    }
    .linea {
        border: 1px solid black; 
    }
    .letra {
        font-size: 1.2em;
    }
    .linea-lat {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    .imprimir {
        margin-top: 20px;
        margin-left: -60px;
    }
</style>