<template>
    <div style="width: 80%;">
        <b-card border-variant="info" header="Datos del Cliente" header-bg-variant="success" header-text-variant="white">
            <b-card-body>
                <b-row>
                    <b-col cols="10" offset="1">                    
                        <b-form-group label="Nro de documento:" label-for="doc" class="mr-4">
                            <b-form-input 
                                v-model="cabecera.doc" type="number" id="doc" class="ml-2" required>
                            </b-form-input>
                            <b-form-invalid-feedback>  
                                El CUIT/CUIL debe tener 11 números.
                            </b-form-invalid-feedback>
                            <b-button class="ml-5" variant="success" @click="buscar()">Buscar</b-button>
                        </b-form-group>
                    </b-col>                    
                </b-row>
                <b-row>   
                    <b-col cols="12">
                        <b-alert class="mt-4" variant="danger" dismissible fade :show="showAlertDoc"
                            @dismissed="showAlertDoc=false">
                            {{ mensaje }}
                        </b-alert>
                    </b-col>
                </b-row>
                <b-row class="mt-4">
                    <b-col cols="6" offset="1">
                        <b-form-input hidden
                                v-model="cabecera.id" type="number">
                            </b-form-input>
                        <b-form-group label="Condicion de IVA:" label-for="condiva" class="mr-4">
                            <b-form-input 
                                v-model="cabecera.condiva" class="ml-2" id="condiva" disabled>
                                </b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col cols="4">
                        <b-form-group label="Tipo de doc:" label-for="tipodoc" class="mr-4">
                            <b-form-input style="width: 80px"
                                v-model="cabecera.tipodoc" class="ml-2" id="tipodoc" disabled>
                            </b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row class="mt-4">
                    <b-col cols="10" offset="1">
                        <b-form-group label="Apellidos/s y Nombre/s:" label-for="nombre">
                            <b-form-input v-model="cabecera.nombre" type="text" id="nombre" class="ml-2" max="40" style="width: 500px" disabled>
                            </b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row class="mt-4">
                    <b-col cols="10" offset="1">
                        <b-form-group label="Domicilio:" label-for="domicilio">
                            <b-form-input v-model="cabecera.domicilio" type="text" id="domicilio" class="ml-2" max="40" style="width: 600px" disabled></b-form-input>
                        </b-form-group>
                        <b-col offset="6" class="mt-4">
                            <b-button :to="{ name: 'cliente-create'}" variant="outline-info">Agregar nuevo</b-button>
                        </b-col>
                    </b-col>                    
                </b-row>
            </b-card-body>
        </b-card>

        
    </div>
</template>
<script>
import { validationMixin } from 'vuelidate';
import { required, requiredIf, maxLength, minLength, minValue } from 'vuelidate/lib/validators';

export default {
    name: "datos-cliente",
    props: {
        cabecera: Object,
    },
    data() {
      return {
        mixins: [validationMixin],
        showAlertDoc: false,
        mensaje: 'Ingrese un número de documento para buscar al cliente.'
      }
    },
    validations: {
        cabecera: {
            condiva: {required},
            //tipodoc: {required},
            //doc: {required, minLength: minLength(11)},
        }
    },
    methods: {
        buscar(){
            if (this.cabecera.doc == "") {
                this.mensaje = 'Ingrese un número de documento para buscar al cliente.'
                this.cabecera.nombre = ''
                this.cabecera.domicilio = ''
                this.showAlertDoc = true
            } else {
                const config = {
                    params: {dni: this.cabecera.doc}
                }
                this.axios.get('/buscar-cliente', config)
                    .then(response => {
                        let cliente = response.data
                        this.cabecera.id = cliente.id
                        this.cabecera.condiva = cliente.condIva.condicion
                        this.cabecera.tipodoc = cliente.tipoDoc.tipo
                        this.cabecera.nombre = cliente.apellido+' '+cliente.nombre
                        this.cabecera.domicilio = cliente.domicilio
                    })
                    .catch((error) => {
                        this.mensaje = 'El cliente no está registrado.'
                        this.cabecera.id = ''
                        this.cabecera.condiva = ''
                        this.cabecera.tipodoc = ''
                        this.cabecera.nombre = ''
                        this.cabecera.domicilio = ''
                        this.showAlertDoc = true
                    })
            }
        }
    }
}
</script>