<template>
    <b-container fluid>
        <b-form @submit.prevent="aceptarDatos" inline>
            <b-row align-h="center">
                <datos-cliente :cabecera = cabecera></datos-cliente>
                <div class="mt-5" style="width: 90%;">
                    <b-card border-variant="info" header="Datos de la Factura" header-bg-variant="success" header-text-variant="white">
                        <b-card-body>
                            <b-row>
                                <b-list-group flush>
                                    <b-list-group-item>
                                        <b-row>
                                            <b-col offset="8">
                                                <b-form-group label="Fecha" label-for="fecha" class="mr-4">
                                                    <b-form-input disabled v-model="detalle.fecha" type="date" 
                                                        id="fecha" class="ml-2">
                                                    </b-form-input>
                                                </b-form-group>
                                            </b-col>
                                        </b-row>
                                        <b-row class="mt-5 ml-1">                                                
                                            <b-form-group label="Tipo de comprobante:" label-for="tipocomp" class="mr-4">
                                                <b-form-select v-model="detalle.tipocomp" class="ml-2" id="tipocomp">
                                                    <option v-for="(tipocom,index) in optipocom" :value="tipocom" :key="index">{{ tipocom.text }}</option>
                                                </b-form-select>
                                            </b-form-group>
                                            <b-form-group label="Pago:" label-for="pago" class="mr-4">
                                                <b-form-select :state="$v.detalle.pago.$dirty ? !$v.detalle.pago.$error : null" 
                                                        v-model="$v.detalle.pago.$model" :options="optpago" class="ml-2" 
                                                        id="pago"></b-form-select>
                                            </b-form-group>
                                            <b-form-group label="Conceptos a incluir:" label-for="conceptos" class="mr-4">
                                                <b-form-select v-model="detalle.conceptos" class="ml-2" id="conceptos">
                                                    <option v-for="(conc,index) in optconc" :value="conc" :key="index">{{ conc.text }}</option>
                                                </b-form-select>
                                            </b-form-group>
                                        </b-row>
                                        <b-row class="mt-4" v-show="detalle.conceptos.value != 1">
                                            <b-form-group label="Fecha Desde" label-for="fechad" class="mr-3">
                                                <b-form-input
                                                    :state="$v.detalle.fechadesde.$dirty ? !$v.detalle.fechadesde.$error : null" 
                                                    v-model="$v.detalle.fechadesde.$model" type="date" id="fechad" class="ml-2">
                                                </b-form-input>
                                            </b-form-group> 
                                            <b-form-group label="Fecha Hasta" label-for="fechah" class="mr-3">
                                                <b-form-input
                                                    :state="$v.detalle.fechahasta.$dirty ? !$v.detalle.fechadesde.$error : null" 
                                                    v-model="$v.detalle.fechahasta.$model" type="date" id="fechah" class="ml-2">    
                                                </b-form-input>
                                                <b-form-invalid-feedback>  
                                                    NO PUEDE ELEGIR FECHAS ANTERIORES QUE FECHA DESDE.
                                                </b-form-invalid-feedback>
                                            </b-form-group>
                                            <b-form-group label="Vto. del Pago" label-for="vto" class="mr-3">
                                                <b-form-input
                                                    :state="$v.detalle.fechavto.$dirty ? !$v.detalle.fechadesde.$error : null" 
                                                    v-model="$v.detalle.fechavto.$model" type="date" id="vto" class="ml-2">
                                                </b-form-input>
                                            </b-form-group>
                                        </b-row>
                                        <b-row class="mt-4 ml-1" v-show="detalle.tipocomp.value == '012' || detalle.tipocomp.value == '013'">
                                            <div style="width: 100%">
                                                <b-row class="mb-2 ml-2"><h5>Comprobante asociado:</h5></b-row>
                                            </div>
                                            <b-row>
                                                <b-form-group label="Tipo de comp.:" label-for="asoctipocomp" class="mr-2">
                                                    <b-form-select v-model="compAsoc.tipo" id="asoctipocomp" class="ml-2">
                                                        <option v-for="(tipocom,index) in optipocom" :value="tipocom" :key="index">{{ tipocom.text }}</option>
                                                    </b-form-select>
                                                </b-form-group> 
                                                <b-form-group label="Nro comp.:" label-for="asocnro" class="mr-2">
                                                    <b-form-input
                                                        :state="$v.compAsoc.nro.$dirty ? !$v.compAsoc.nro.$error : null" 
                                                        v-model="$v.compAsoc.nro.$model" type="number" id="asocnro" class="ml-1">
                                                    </b-form-input>
                                                </b-form-group>
                                                <b-form-group label="Fecha del comp.:" label-for="asocfecha" class="mr-2">
                                                    <b-form-input
                                                        :state="$v.compAsoc.fecha.$dirty ? !$v.compAsoc.fecha.$error : null" 
                                                        v-model="$v.compAsoc.fecha.$model" type="date" id="asocfecha" class="ml-1">
                                                    </b-form-input>
                                                </b-form-group>
                                            </b-row>                                            
                                        </b-row>
                                    </b-list-group-item>
                                </b-list-group>
                            </b-row>
                            <b-container fluid>
                                <b-row class="mt-4">
                                    <b-table :no-border-collapse="noCollapse" :fields="fields" :items="items">
                                        <template v-slot:cell(cantidad)="data">
                                            <b-form-input class="ml-2" type="number" v-model="data.item.cantidad"
                                                style="width: 60px"></b-form-input>
                                        </template>
                                        <template v-slot:cell(descripcion)="data">
                                            <b-form-input class="ml-2" type="text" v-model="data.item.descripcion"
                                                style="width: 500px"></b-form-input>
                                        </template>
                                        <template v-slot:cell(precioUnitario)="data">
                                            <b-form-input class="ml-2" type="number" step="0.02" v-model="data.item.precioUnitario"
                                                style="width: 120px"></b-form-input>
                                        </template>
                                        <template v-slot:cell(subtotal)="data">
                                                {{ data.value }}
                                        </template>
                                    </b-table> 
                                </b-row>
                            </b-container>
                            <b-container fluid>
                                <b-row>
                                    <b-button variant="info" @click="agregarItem">Agregar Item</b-button>
                                    <b-col offset="8">
                                        <h5><strong>Total: {{ calcularTotal }} </strong></h5>
                                    </b-col>
                                </b-row>
                            </b-container>
                            <b-container fluid>
                                <b-row class="mt-4">
                                    <b-col cols="5" offset="4">
                                        <b-alert variant="danger" dismissible fade :show="showAlertDoc"
                                            @dismissed="showDismissibleAlert=false">
                                            El CUIT/CUIL no está registrado en AFIP.
                                        </b-alert>
                                    </b-col>
                                    <b-col offset="9">
                                        <b-button variant="success" type="submit" 
                                                :disabled="submitStatus === 'PENDING'">Aceptar</b-button>
                                            <p class="typo__p" v-if="submitStatus === 'OK'">OK!</p>
                                            <p class="typo__p" v-if="submitStatus === 'ERROR'">REVISE LOS DATOS.</p>
                                            <p class="typo__p" v-if="submitStatus === 'PENDING'">GENERANDO...</p>
                                            <p class="typo__p" v-if="submitStatus === 'FAILED'">ERROR EN LA CONEXION</p>
                                    </b-col>
                                </b-row>
                            </b-container>                                    
                        </b-card-body>
                    </b-card>
                </div>
            </b-row> 
        </b-form>
    </b-container>
</template>

<script>
import { CUIT, PTOVTA } from '../constantes.js';
import { validationMixin } from 'vuelidate';
import { required, requiredIf, maxLength, minLength, minValue } from 'vuelidate/lib/validators';
import axios from 'axios';
import moment from 'moment';
import DatosCliente from '@/components/DatosCliente.vue'

export default {
    name: "datos-detalle",
    components: {
	    DatosCliente
	},
    data() {
      return {
        mixins: [validationMixin],
        submitStatus: null,
        optipocom: [
          /* { value: '011', text: 'Factura C' },
          { value: '012', text: 'Nota de Débito C' },
          { value: '013', text: 'Nota de Crédito C' },
          { value: '015', text: 'Recibo C' } */
          { value: '006', text: 'Factura B' },
          { value: '007', text: 'Nota de Débito B' },
          { value: '008', text: 'Nota de Crédito B' },
          /*{ value: '009', text: 'Recibo B' },
          { value: '051', text: 'Factura M' },
          { value: '052', text: 'Nota de Débito M' },
          { value: '053', text: 'Nota de Crédito M' },
          { value: '054', text: 'Recibo M' },
            { value: '011', text: 'Factura T' },
          { value: '012', text: 'Nota de Débito T' },
          { value: '013', text: 'Nota de Crédito T' } */
        ],
        optpago: [
            {value: 'Contado', text: 'Contado'},
            {value: 'Tarjeta de Débito', text: 'Tarjeta de Débito'},
            {value: 'Tarjeta de Crédito', text: 'Tarjeta de Crédito'},
            {value: 'Cta. Corriente', text: 'Cta. Corriente'},
            {value: 'Cheque', text: 'Cheque'},
            {value: 'Ticket', text: 'Ticket'}
        ],
        optconc: [
            {value: '1', text: 'Productos'},
            {value: '2', text: 'Servicios'},
            {value: '3', text: 'Prod.y Servicios'}
        ],
        detalle: {
            fecha: moment().toISOString(true).slice(0,10),
            fechadesde: "",
            fechahasta: "",
            fechavto: "",
            tipocomp:{ value: '006', text: 'Factura B' },
            pago: "",
            conceptos: {value: '1', text: 'Productos'}
        },
        compAsoc: {
            tipo: { value: '006', text: 'Factura B' },
            nro: "",
            fecha: ""
        },
        fields: ['cantidad', 'descripcion', 'precioUnitario', {key: 'subtotal', formatter: 'calculoSubtotal'}],
        items: [
            {codigo: '', cantidad: 1, descripcion: '', precioUnitario: '', subtotal: ''}
        ],
        noCollapse: true,
        total: '',
        cabecera: {
            condiva: "",
            tipodoc: "",
            doc: "",
            nombre: "",
            domicilio: "",
            id: ""
        },
        respuesta: {},
        showAlertDoc: false,
        cbtedesde: 0,
        tipocomp: ""
      }
    },
    validations: {
        detalle: {
            fechadesde: {
                required: requiredIf(function(detalle){
                    return this.detalle.conceptos.value!=1
                })
                },
            fechahasta: {
                required: requiredIf(function(detalle){
                    return this.detalle.conceptos.value!=1
                })
            },
            fechavto: {
                required: requiredIf(function(detalle){
                    return this.detalle.conceptos.value!=1
                })
            },
            tipocomp: {required},
            pago: {required},
            conceptos: {required}
        },
        compAsoc: {
            tipo: {required: requiredIf(function(detalle){
                    return this.detalle.tipocomp.value=='007' || this.detalle.tipocomp.value=='008' ||
                            this.detalle.tipocomp.value=='052' || this.detalle.tipocomp.value=='053'
                })},
            nro:  {required: requiredIf(function(detalle){
                    return this.detalle.tipocomp.value=='007' || this.detalle.tipocomp.value=='008' ||
                            this.detalle.tipocomp.value=='052' || this.detalle.tipocomp.value=='053'
                })},
            fecha:  {required: requiredIf(function(detalle){
                    return this.detalle.tipocomp.value=='007' || this.detalle.tipocomp.value=='008' ||
                            this.detalle.tipocomp.value=='052' || this.detalle.tipocomp.value=='053'
                })}
        }
    },
    computed: {
        calculoSubtotal(value) { 
            return this.items.map((item) => {
                if ((item.precioUnitario) != '') {
                    let sub = item.precioUnitario;  
                    if (item.cantidad != ''){
                        sub = sub * item.cantidad;
                    }
                    item.subtotal = sub;
                    return sub;
                } else {
                    return 0;
                }
          });            
        },
        calcularTotal: function () {
            let suma = 0;
            this.items.forEach((item) => {
                if (item.subtotal !='') {
                    suma += parseFloat(item.subtotal);
                }              
                return suma;
            });
            this.total = suma;
            return suma;
        }
    },
    methods: {
        agregarItem(){
            this.items.push({codigo: '', cantidad: 1, descripcion: '', precioUnitario: '', subtotal:''})
        },
        aceptarDatos(){
            this.$v.$touch()
            if (this.$v.$invalid) {
                this.submitStatus = 'ERROR'
            } else {
                this.submitStatus = 'PENDING'
                var fechad= this.detalle.fechadesde!='' ? this.detalle.fechadesde.replace(/-/g, "") : '';
                var fechah= this.detalle.fechahasta!='' ? this.detalle.fechahasta.replace(/-/g, "") : '';
                var fechav= this.detalle.fechavto!='' ? this.detalle.fechavto.replace(/-/g, "") : '';
                var ptoVta = parseInt(PTOVTA);
                var FeCAEReq = {
                    FeCabReq: {
                        CantReg: 1,
                        PtoVta: ptoVta,
                        CbteTipo: this.detalle.tipocomp.value
                    },
                    FeDetReq: {
                        FECAEDetRequest: [{
                            Concepto: this.detalle.conceptos.value,
                            DocTipo: this.cabecera.tipodoc.value, //se saca de tabla clientes
                            DocNro: this.cabecera.doc, //se saca de tabla clientes
                            CbteDesde: '',
                            CbteHasta: '',
                            CbteFch: this.detalle.fecha.replace(/-/g, ""),
                            ImpTotal: this.total,
                            ImpTotConc: 0,
                            ImpNeto: this.total,
                            ImpOpEx: 0,
                            ImpTrib: 0,
                            ImpIVA: 0,
                            FchServDesde: fechad,
                            FchServHasta: fechah,
                            FchVtoPago: fechav,
                            MonId: "PES",
                            MonCotiz: 1,
                            Iva: {
                                AlicIva: [
                                    {
                                        Id: 3,
                                        BaseImp: this.total,
                                        Importe: 0
                                    }
                                ]}
                        }]
                    }
                };
                if (this.detalle.tipocomp.value=='007' || this.detalle.tipocomp.value=='008' ||
                    this.detalle.tipocomp.value=='052' || this.detalle.tipocomp.value=='053'){
                    var CbteAsoc = {CbteAsoc: [{
                            Tipo: this.compAsoc.tipo.value,
                            PtoVta: parseInt(PTOVTA),
                            Nro: this.compAsoc.nro,
                            Cuit: CUIT,
                            CbteFch: this.compAsoc.fecha.replace(/-/g, "")
                        }]
                        } 
                    FeCAEReq.FeDetReq.FECAEDetRequest[0].CbtesAsoc = CbteAsoc
                        
                }
                axios.post('/generar/', {cuit: CUIT,FeCAEReq}).then(response => {
                    this.respuesta = response.data
                    if (this.respuesta.FeDetResp.FECAEDetResponse.Resultado == 'A') {
                        const comprobante = {
                            cabecera: this.cabecera,
                            detalle: this.detalle,
                            items: this.items,
                            total: this.total,
                            cae: this.respuesta.FeDetResp.FECAEDetResponse.CAE,
                            cbtedesde: this.respuesta.FeDetResp.FECAEDetResponse.CbteDesde,
                            fechavtocae: this.respuesta.FeDetResp.FECAEDetResponse.CAEFchVto,
                            emitido: true
                        }
                        console.log(comprobante.detalle.tipoComp);
                        if (this.detalle.tipocomp.value=='007' || this.detalle.tipocomp.value=='008' ||
                            this.detalle.tipocomp.value=='052' || this.detalle.tipocomp.value=='053'){
                            var index = 8 - this.compAsoc.nro.length
                            comprobante.nroAsoc = ''+PTOVTA+'-'
                            for (var i = 0; i < index; i++) {
                                comprobante.nroAsoc += '0'
                            }
                            comprobante.nroAsoc += this.compAsoc.nro
                        }
                        var comprobArchivo = {
                            tipocomp: comprobante.detalle.tipocomp.value,
                            cbtedesde: parseInt(comprobante.cbtedesde),
                            fecha: comprobante.detalle.fecha.replace(/-/g, ""),
                            concepto: comprobante.detalle.conceptos.value,
                            fechadesde: fechad == '' ? null : fechad,
                            fechahasta:  fechah == '' ? null : fechah,
                            fechavto:  fechav == '' ? null : fechav,
                            tipodoc: comprobante.cabecera.tipodoc,
                            doc: parseInt(comprobante.cabecera.doc),
                            nombre: comprobante.cabecera.nombre,
                            condiva: comprobante.cabecera.condiva,
                            domicilio: comprobante.cabecera.domicilio,
                            pago: comprobante.detalle.pago,
                            nroasoc: comprobante.nroAsoc,
                            total: comprobante.total,
                            cae: parseInt(comprobante.cae),
                            fechavtocae: comprobante.fechavtocae
                        };
                        this.cbtedesde = comprobante.cbtedesde;
                        this.tipocomp = comprobArchivo.tipocomp;
                        var items = comprobante.items;
                        var nombre = this.nombreArch();
                        var fecha = comprobante.detalle.fecha.replace(/-/g, "");
                        axios.post('/comprobante', {comprobArchivo, items, nombre, fecha}).then(response => {
                            this.$store.commit('setComprobante', comprobante);
                            //Enviar de acuerdo al comprobante que corresponda
                            this.$router.push('comprobante');
                            this.submitStatus = 'OK'
                        }).catch(e => {
                            //error
                            console.log(e);
                            this.submitStatus = 'FAILED'
                        });
                    }
                    else if (this.respuesta.FeDetResp.FECAEDetResponse.Resultado == 'R') {
                        console.log(this.respuesta)
                        if(this.respuesta.FeDetResp.FECAEDetResponse.Observaciones.Obs.Code == '10015') {
                            this.showAlertDoc = true
                        }
                        this.submitStatus = 'ERROR'
                    }else {
                        console.log('Error ',this.respuesta.Errors.Err.Code, ' ' + this.respuesta.Errors.Err.Msg)
                    }}).catch(e => {
                        console.error(e);
                        this.submitStatus = 'FAILED'
                });
            }
        },        
        nombreArch: function(){
            var nro= '';
            var index = 8 - this.cbtedesde.length;
            for (var i = 0; i < index; i++) {
                nro = nro+'0';
            }
            nro = nro+this.cbtedesde;
            var comp = this.tipoComp()
            var name = ''+comp+'-'+
                    nro+'.pdf';
            return name
        },        
		tipoComp: function(){ 
			var comp = '';
			var tipocomp = this.tipocomp;
			if (tipocomp == '006' || tipocomp == '051'){
				comp = 'FACTURA'
			}
			else if (tipocomp == '007' || tipocomp == '052'){
				comp = 'NOTA DÉBITO'
			} 
			else if (tipocomp == '008' || tipocomp == '053'){
				comp = 'NOTA CRÉDITO'
			}
			/* else if (tipocomp == '015'){
				comp = 'RECIBO'
			} */
			return comp
		}
    }
}
</script>