<template>
    <b-container fluid>
        <b-form @submit.prevent="aceptarDatos" inline>
            <b-row align-h="center">
                <datos-cliente :cabecera = cabecera></datos-cliente>
                <div class="mt-5" style="width: 95%;">
                    <b-card border-variant="info" header="Datos de la Orden" header-bg-variant="success" header-text-variant="white">
                        <b-card-body style="padding: 10px">
                            <b-row>
                                <!-- detalle orden -->
                                <b-container fluid>
                                    <b-row class="mt-1">
                                        <b>Nro de Orden:</b>
                                    </b-row>
                                    <b-row class="mt-4">
                                        <b-table :no-border-collapse="noCollapse" :fields="fields" :items="dispositivos">
                                            <template v-slot:cell(tipo)="row">
                                                <b-form-select v-model="row.item.tipo" :options="optDisp" v-on:change="filtrarMarcas(row.item)"
                                                    value-field="tipo" text-field="tipo"></b-form-select>
                                            </template>
                                            <template v-slot:cell(marca)="row">
                                                <b-form-select v-model="row.item.marca" :options="marcas" v-on:change="validarDispAgregados()"
                                                    value-field="marca" text-field="marca">
                                                    
                                                </b-form-select>
                                            </template>
                                            <template v-slot:cell(modelo)="row">
                                                <b-form-input type="text" v-model="row.item.modelo" v-on:change="validarDispAgregados()"
                                                    style="width: 150px"></b-form-input>
                                            </template>
                                            <template v-slot:cell(nro_serie)="row">
                                                <b-form-input type="number" v-model="row.item.nro_serie"
                                                    style="width: 150px"></b-form-input>
                                            </template>
                                            <template v-slot:cell(codigo)="row">
                                                <b-form-input type="number" v-model="row.item.codigo"
                                                    style="width: 150px"></b-form-input>
                                            </template>
                                            <template v-slot:cell(accesorios)="row">
                                                <b-form-input type="number" v-model="row.item.accesorios"
                                                    style="width: 200px"></b-form-input>
                                            </template>
                                        </b-table> 
                                    </b-row>
                                </b-container>
                                <b-container fluid>
                                    <b-row>
                                        <b-button :disabled="!agregar" variant="info" @click="agregarItem">Agregar Dispositivo</b-button>
                                    </b-row>
                                    <b-row align-self="center" class="mt-4">
                                        <b-col>
                                            <b-alert variant="warning" dismissible fade :show="showAlertTarea"
                                                @dismissed="showAlertTarea=false">
                                                {{ alertaTarea }}
                                            </b-alert>
                                        </b-col>
                                    </b-row>
                                </b-container>
                                <!-- tareas -->
                                <b-container fluid>
                                    <b-row class="mt-4">
                                        <b-col cols="12">
                                            <b-card>
                                                <b-card-title style="text-align: left">
                                                    Tareas a realizar
                                                </b-card-title>
                                                <b-card-text>
                                                    <b-table :no-border-collapse="noCollapse" :fields="fieldsTareas" :items="tareas">
                                                        <template v-slot:cell(tarea)="row">
                                                            <b-form-input type="text" v-model="row.item.tarea" style="width: 100%"
                                                                ></b-form-input>
                                                        </template>
                                                    </b-table>
                                                </b-card-text>
                                            </b-card>
                                        </b-col>
                                    </b-row>
                                </b-container>
                                <!-- observaciones -->
                                <b-container fluid>
                                    <b-row class="mt-4">
                                        <b-col cols="10" offset="1">
                                            <b-form-textarea style="width: 100%" id="textarea" v-model="observ" placeholder="Observaciones..." rows="3" max-rows="3"></b-form-textarea>
                                        </b-col>
                                    </b-row>
                                </b-container>
                                <!-- presupuesto -->
                                <b-container fluid>
                                    <b-row class="mt-4" align-h="center">
                                        <b-col cols="9">
                                            <b-card>
                                                <b-card-text>
                                                    <b-row class="ml-5 mb-4">
                                                        <b-form-group label="Costo del verificación" label-for="seña">
                                                            <b-form-input v-model="verificacion" type="number" id="seña" class="ml-2" required></b-form-input>
                                                        </b-form-group>
                                                    </b-row>
                                                    <b-row class="ml-5 mb-4">                                                        
                                                        <b-form-group label="Presupuesto" label-for="comboPresup" class="mr-5">
                                                            <b-form-select :options="comboPresup" v-on:change="verificarCombo()" required
                                                                v-model="tipoPresup" class="ml-2" id="comboPresup">
                                                                </b-form-select>
                                                        </b-form-group>
                                                        <b-form-group label="Costo" label-for="seña" v-if="mostrarCosto">
                                                            <b-form-input v-model="costo" type="number" id="seña" class="ml-2"></b-form-input>
                                                        </b-form-group>
                                                    </b-row>
                                                    <b-row class="ml-5 mb-4" v-if="mostrarCosto">
                                                        <b-form-group label="Señó " label-for="checkSeña">
                                                            <b-form-checkbox id="checkSeña" v-model="checkSenia" name="checkSeña" class="ml-2">
                                                            </b-form-checkbox>
                                                        </b-form-group>
                                                        <b-form-group label="Seña" label-for="seña">
                                                            <b-form-input v-model="senia" type="number" id="seña" class="ml-2" max="40" :disabled="!checkSenia"></b-form-input>
                                                        </b-form-group>
                                                    </b-row>
                                                    <b-row class="ml-5 mb-4">                                                        
                                                        <b-form-group label="Tecnico" label-for="tecnico" class="mr-5">
                                                            <b-form-select v-model="tecnico" class="ml-2" id="tecnico" required>
                                                                <option v-for="tecnicoItem in tecnicos" :value="tecnicoItem.id">
                                                                    {{ tecnicoItem.apellido }}, {{ tecnicoItem.nombre }}
                                                                </option>
                                                            </b-form-select>
                                                        </b-form-group>
                                                    </b-row>
                                                </b-card-text>
                                            </b-card>
                                        </b-col>
                                    </b-row>
                                </b-container>
                                <b-container fluid>
                                    <b-row class="mt-4">
                                        <b-col offset="9">
                                            <b-button variant="success" type="submit">Aceptar</b-button>
                                        </b-col>
                                    </b-row>
                                    <b-row align-self="center" class="mt-4">
                                        <b-col>
                                            <b-alert variant="danger" dismissible fade :show="showAlert"
                                                @dismissed="showAlert=false">
                                                {{ alerta }}
                                            </b-alert>
                                        </b-col>
                                    </b-row>
                                </b-container>    
                            </b-row>
                        </b-card-body>
                    </b-card>
                </div>
            </b-row> 
        </b-form>

    </b-container>
</template>

<script>
import { CUIT, PTOVTA } from '../constantes.js';
import { validationMixin } from 'vuelidate';
import { required, requiredIf, maxLength, minLength, minValue } from 'vuelidate/lib/validators';
import axios from 'axios';
import moment from 'moment';
import DatosCliente from '@/components/DatosCliente.vue'

export default {
    name: "orden",
    components: {
	    DatosCliente
	},
    data() {
      return {
        mixins: [validationMixin],
        submitStatus: null,
        cabecera: {
            condiva: "",
            tipodoc: "",
            doc: "",
            nombre: "",
            domicilio: "",
            id: ""
        },
        fields: ['cod','tipo', 'marca', 'modelo', 'nro_serie', 'codigo', 'accesorios'],
        dispositivos: [
            {cod: 1, tipo: '', marca: '', modelo: '', nro_serie: '', codigo: '', accesorios: ''}
        ],
        fieldsTareas: [{ key: "cod", label: "Cod", tdClass: 'colCodTarea'},'tarea'],
        tareas: [
            {cod: 1, tarea: ''}
        ],
        tipoPresup: '',
        comboPresup: ['Confirmado', 'Presupuestar y llamar','Rechazado'],
        senia: '',
        verificacion: '',
        costo: '',
        checkSenia: false,
        mostrarCosto: false,
        noCollapse: true,
        agregar: false,
        fila: 2,
        filaTarea: 2,
        optDisp: [],
        marcas: [{marca: 'Seleccione el tipo.', disabled: true}],
        observ: "",
        tarea: "",
        tareaState: null,
        dispSel: [],
        disp: "",
        tecnicos: [],
        tecnico: "",
        showAlert: false,
        alerta: '',
        showAlertTarea: false,
        alertaTarea: ''
      }
    },
    mounted (){
        this.axios.get('/tipos-disp')
                    .then(response => {
                this.optDisp = response.data
            }
        ),
        this.dispSel[0] = this.dispositivos[0].cod+' - '+this.dispositivos[0].tipo,
        this.axios.get('/tecnicos')
        .then(response => {
            this.tecnicos = response.data
        })
    },
    methods: {
        agregarItem(){
            var anteult = this.dispositivos.length-1
            if (this.tareas[anteult].tarea == '') {
                this.alertaTarea = 'DEBE AGREGAR LA TAREA RELACIONADA PRIMERO.'
                this.showAlertTarea = true
            } else {
                
            if (this.dispositivos.length<5) {
                this.dispositivos.push({cod: this.fila++, tipo: '', marca: '', modelo: ''})
                this.tareas.push({cod: this.filaTarea++, tarea: ''})
                this.agregar = false
            }
            } 
        },
        filtrarMarcas(item){
            var tipo = this.optDisp.find(elem => elem.tipo === item.tipo)
            var idTipo= tipo.id
            
            this.axios.get(`/tipos-disp-marca/${idTipo}`)
                .then(response => {
                this.marcas = [];
                for (let index = 0; index < response.data.length; index++) {
                    this.marcas.push(response.data[index].marca);                    
                }
            })
        },
        validarDispAgregados(){
            if (this.dispositivos.length<4) {
                var ultimo = this.dispositivos.length-1
                if ((this.dispositivos[ultimo].tipo != '') && (this.dispositivos[ultimo].marca != '') && (this.dispositivos[ultimo].modelo != '')) {
                    this.agregar = true
                } else {
                    this.agregar = false
                }
            }
        },
        verificarCombo(){
            if (this.tipoPresup == "Confirmado") {
                this.mostrarCosto = true
            }
            else this.mostrarCosto = false
        },
        aceptarDatos(){
            //evt.preventDefault();
            //verificar que haya un dispositivo agregado
            if ((this.dispositivos[0].tipo == '') || (this.dispositivos[0].marca == '') || (this.dispositivos[0].modelo == '')) {
                //cartel debe completar los datos del dispositivo
                this.alerta = 'FALTA AGREGAR UN DISPOSITIVO'
                this.showAlert = true
            } else {
                var control = false
                for (let index = 0; index < this.tareas.length; index++) {
                    if ((this.dispositivos[index].tipo != '') && (this.tareas[index].tarea == '')) {
                        control = true
                    }
                }
                if (control) {
                    //falta completar alguna tarea
                    this.alerta = 'FALTA AGREGAR UNA TAREA'
                    this.showAlert = true
                }
                else {
                    var form = {
                        fecha: moment().toISOString(true).slice(0,10),
                        observaciones: this.observ,
                        presupuesto: this.tipoPresup,
                        costo: this.costo,
                        verificacion: this.verificacion,
                        senia: this.senia,
                        cliente_id: this.cabecera.id,
                        tecnico_id: this.tecnico
                    }
                    this.axios.post('/ordenes', form)
                    .then(response => {
                            for (let index = 0; index < this.dispositivos.length; index++) {
                                this.dispositivos[index].tarea = this.tareas[index].tarea
                                this.dispositivos[index].orden_id = response.data.id
                            }
                            this.axios.post('/dispositivos', this.dispositivos)
                            .then(response => {
                                console.log(response.data[0].orden_id)
                                this.$alert('La orden fue cargada con éxito.',
                                'Ok.','success')
                                //this.$router.push({ name: 'orden-show', params: {id: response.data.id}});
                            })
                    })
                }                
            }            
        }
    }
}
</script>
<style>
.colCodTarea{
    width: 20px;
}
</style>