<template>
<div class="container-fluid">
	<b-row class="barra-superior">
		<div class="pt-2 pb-2" style="padding-left: 5em!important;"><h2>Comprobante</h2></div>
	</b-row>
	<b-row class="mt-5 mb-5">      
      	<ComprobanteImp/>
    </b-row>
</div>
</template>

<script>
// @ is an alias to /src
import ComprobanteImp from '@/components/ComprobanteImp.vue';
import { mapState, mapGetters } from 'vuex';

export default {
  	name: 'comprobante',
	components: {
	    ComprobanteImp
	},
	computed: {
	    ...mapState(['comprobante']),
	    ...mapGetters(['compActualizado'])
	},
	mounted() {
		//guardar
		if (this.comprobante.emitido) {
			var fechad=null;
			var fechah=null;
			var fechav=null;
			var nroAsoc=null;
			if (this.comprobante.detalle.fechadesde!='' || this.comprobante.detalle.fechahasta!='' || this.comprobante.detalle.fechavto!=''){
				fechad=this.comprobante.detalle.fechadesde.replace(/-/g, "");
				fechah=this.comprobante.detalle.fechahasta.replace(/-/g, "");
				fechav=this.comprobante.detalle.fechavto.replace(/-/g, "");
			}
			if (this.comprobante.nroAsoc!=null) {
				nroAsoc = this.comprobante.nroAsoc;
			}			
		}
	},
	methods: {
	}
}
</script>
