<template>
  <div class="container-fluid">
    <b-row class="barra-superior">
      <div class="pt-2 pb-2" style="padding-left: 5em!important;"><h2>Nueva Factura</h2></div>
    </b-row>
    <b-row class="mt-5 mb-5">      
      <DatosDetalle/>
    </b-row>
  </div>
</template>

<script>
// @ is an alias to /src
import DatosDetalle from '@/components/DatosDetalle.vue'

export default {
  name: 'nueva-factura',
  components: {
    DatosDetalle
  }
}
</script>