<template>
  <div class="container-fluid">
    <b-row class="barra-superior">
      <div class="pt-2 pb-2" style="padding-left: 5em!important;"><h2>Ordenes emitidas</h2></div>
    </b-row>
    <b-row>
      <b-container fluid class="mt-4">
        <b-row>
          <b-col class="col-9 offset-3">
            <b-form inline>
              <strong class="mr-4">Buscar por: </strong>
              <b-form-group label="DÍA:" label-for="tipocomp" class="my-3 mx-2">
                <b-form-input id="fecha" v-model="keyword" placeholder="Fecha desde..." type="date" size="lg" class="ml-2"></b-form-input>
              </b-form-group>
            </b-form>
          </b-col>
        </b-row>
        <b-row class="mx-5">
          <b-table striped hover :items="items" :fields="fields" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" 
            :per-page="perPage" :current-page="currentPage" head-row-variant="success">
            <template v-slot:cell(cliente)="data">
              {{ data.value.apellido }} {{ data.value.nombre}}
            </template>
            <template v-slot:cell(acciones)="row">
                <b-button variant="info" class="mr-2" :to="{ name: 'orden-show', params: { id: row.item.id }}">Ver</b-button>
            </template>
          </b-table>
        </b-row>
        <b-row class="mx-5">
          <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage" aria-controls="my-table"></b-pagination>
          <p class="mt-3 ml-5">Página actual: {{ currentPage }}</p>
        </b-row>
      </b-container>  
    </b-row>
    <!-- 
    <b-modal>
      
    </b-modal>
 -->
  </div>
</template>

<script>
  import axios from 'axios';
  import moment from 'moment';

  export default {
    data() {
      return {
        perPage: 10,
        currentPage: 1,
        mes: [{value: 1, text:'Enero'}, 
              {value: 2, text:'Febrero'},
              {value: 3, text:'Marzo'},
              {value: 4, text:'Abril'},
              {value: 5, text:'Mayo'},
              {value: 6, text:'Junio'},
              {value: 7, text:'Julio'},
              {value: 8, text:'Agosto'},
              {value: 9, text:'Septiembre'},
              {value: 10, text:'Octubre'},
              {value: 11, text:'Noviembre'},
              {value: 12, text:'Diciembre'}],
        sortBy: 'fecha',
        sortDesc: true,
        keyword: '',
        fields:[{key: 'id', label:'Nro Orden'},
                {key: 'fecha', label: 'Fecha emision', 
                  formatter: value => {return moment(String(value)).format('DD/MM/YYYY')}},
                {key: 'presupuesto', label: 'Presupuesto'}, 
                {key: 'cliente', label: 'Cliente'}, 
                 'acciones'],
        data: [],
        nombre: "archivo",
        file: '',
        showPreview: false,
        imagePreview: ''
      }
    },
    computed: {
      items () {
        return this.keyword
          ? this.data.filter(item => item.fecha.includes(this.keyword))
          : this.data
      },
      rows() {
        return this.items.length
      }
    },
    mounted() {
      this.axios.get('/ordenes').then(response => {
        this.data = response.data
      })
    },
    methods: {
      /* verComprobante(comp){
        var id = comp.comprobante_id
        this.axios.get('/comprobante/'+id).then(response => {
          var data = response.data;
          var fechad='';
          var fechah='';
          var fechav='';
          var nroAsoc=null;
          if (data.comprobante.fechadesde!=null || data.comprobante.fechahasta!=null || data.comprobante.fechavto!=null){
              fechad=data.comprobante.fechadesde.replace(/-/g, "").substring(0, 8);
              fechah=data.comprobante.fechahasta.replace(/-/g, "").substring(0, 8);
              fechav=data.comprobante.fechavto.replace(/-/g, "").substring(0, 8);
          };
          if (data.comprobante.nroasoc!=null) {
            nroAsoc = data.comprobante.nroasoc;
          };
          var cabecera = {
              condiva: data.comprobante.condiva,
              tipodoc: { text: data.comprobante.tipodoc},
              doc: data.comprobante.doc,
              nombre: data.comprobante.nombre,
              domicilio: data.comprobante.domicilio
          };
          var detalle = {
              fecha: data.comprobante.fecha.replace(/-/g, "").substring(0, 8),
              fechadesde: fechad,
              fechahasta: fechah,
              fechavto: fechav,
              tipocomp: { value: data.comprobante.tipocomp },
              pago: data.comprobante.pago,
              conceptos: { value:  data.comprobante.concepto },
          };
          var items = [];
          var item = '';
          for (let index = 0; index < data.items.length; index++) {
              item = {
                codigo: data.items[index].codigo, 
                cantidad: data.items[index].cantidad, 
                descripcion: data.items[index].descripcion, 
                precioUnitario: data.items[index].precioUnitario, 
                subtotal: data.items[index].subtotal
              }
              items.push(item);
          }
          var cae = data.comprobante.cae;
          var fechavtocae = data.comprobante.fechavtocae.replace(/-/g, "").substring(0, 8);
          var cbtedesde = data.comprobante.cbtedesde;
          var total = data.comprobante.total;
          var comprobante = {
              cabecera: cabecera,
              detalle: detalle,
              items: items,
              total: total,
              cae: cae,
              cbtedesde: cbtedesde.toString(),
              fechavtocae: fechavtocae,
              nroAsoc: nroAsoc,
              emitido: false
          };
          this.$store.commit('setComprobante', comprobante);
          this.$router.push('comprobante');
        }) 
      }*/
    }
  }
</script>
