<template>
  <div class="container-fluid">
    <b-row class="barra-superior">
      <div class="pt-2 pb-2" style="padding-left: 5em!important;"><h2>Nueva Orden</h2></div>
    </b-row>
    <b-row class="mt-5 mb-5">      
      <Orden/>
    </b-row>
  </div>
</template>

<script>
import Orden from '@/components/Orden.vue'

export default {
  name: 'nueva-orden',
  components: {
    Orden
  },
  data() {
      return {
          cabecera: {
            condiva: "",
            tipodoc: { value: '80', text: 'CUIT' },
            doc: "",
            nombre: "",
            domicilio: ""
        }
      }
  }
}
</script>