<template>
<div class="container-fluid">
    <b-row class="imprimir">
        <div class="col-3">
            <!-- <b-button variant="success" size="lg" @click="imprimir">Imprimir</b-button> -->
        </div>
    </b-row>
    <b-row style="margin-left: 5%; margin-top: 3%;">
        <img :src="output" style="display: none">
        <div class="container-fluid">
            <div id="factura" ref="factura">
                <div class="row linea">
                    <div class="col-2 imagen">
                        <img src="../../assets/logo.jpg" alt="LOGO"> 
                    </div>
                    <div class="col-4" id="datos-empresa-detalle">
                        <h1><b>EL ANDROIDE</b></h1>                          
                        <p>Servicio Técnico Especializado</p>
                        <p>en Calulares - Tablets - PC</p>
                        <p>andromanzana@gmail.com</p>
                        <p class="contacto">Gobernador Paz 1347 - Tel. (2901) 42-22-62</p>
                        <p class="contacto">WhatsApp (2901) 600450</p>
                    </div>  
                    <div class="col-6">
                        <div class="row">
                            <div class="col borde-curvo">
                                <h5>Orden de Trabajo. Nº </h5>
                                0000
                            </div>
                            <div class="col borde-curvo ml-4">                        
                                <h5>Fecha de emision: </h5>
                                {{ fecha('11/03/2022') }}
                            </div>
                        </div>
                        <div class="row">
                            <h4>Ushuaia, Tierra del Fuego</h4>
                        </div>
                    </div>
                </div>                       
                <div class="row linea">

                </div>
            </div>
        </div>
    </b-row>
</div>
    
</template>

<script>
    import jsPDF  from 'jspdf'
    import html2canvas from 'html2canvas'
    import moment from 'moment'

    export default {
        data() {
            return {
                
            }
        },
        mounted() {
        },
        methods: {
            
            /* imprimir: function() {
                var element = this.$refs.factura;
                var w = 1600;
                var h = 1750;                
                var name = this.nombreArch();
                html2canvas(element, {x: 0, y: 0, width:w, height:h}).then(canvas => {
                    var image = canvas.toDataURL('image/png');
                    var pdf = new jsPDF('P', 'mm');
                    pdf.setFontSize(18);
                    pdf.addImage(image, 'png', -36, 0, 250, 270);	
                    pdf.text(90, 20, 'ORIGINAL');
                    pdf.addPage('P', 'mm');
                    pdf.addImage(image, 'png', -36, 0, 250, 270);
                    pdf.text(87, 20, 'DUPLICADO');
                    pdf.addPage('P', 'mm');
                    pdf.addImage(image, 'png', -36, 0, 250, 270);
                    pdf.text(86, 20, 'TRIPILICADO');
                    pdf.save(name);
                });
            }, */
            fecha: function(fecha){
                return moment(String(fecha)).format('DD/MM/YYYY')
            }
        }
    }
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;800&display=swap');
    #factura {
        position: absolute;
        width: 90%;
        height: 1600px;
    }
    .col {
        padding: 0px!important;
    }
    div.imagen img {
        width: 110%;
        padding-top: 10px;
        height: 90%;
    }
    #tipo-comp {
        width: 10%;
        position: absolute;        
        left: 45%;
        background-color: white;
        z-index: 1000;
    }
    #datos-empresa-detalle {
        padding-top: 15px;
        margin-left: -20px;
        margin-right: -15px;
    }
    #datos-empresa-detalle > p, #tipo-comp > p, #fechas > p {
        text-align: center;
        line-height: 100%;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
    }
    div#datos-empresa-detalle .contacto {
        font-weight: 600;
        font-size: 0.8em;
    }
    .borde-curvo {
        text-align: center;
        margin: 15px 0px;
        padding: 20px 2px !important;
        border: 1px solid black; 
        border-radius: 1em;
    }
    .linea {
        border: 1px solid black; 
    }
    .letra {
        font-size: 1.2em;
    }
    .linea-lat {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    .imprimir {
        margin-top: 20px;
        margin-left: -60px;
    }
</style>