<template>
  <div id="app" class="wrapper d-flex align-items-stretch">
    <menu-lateral></menu-lateral>
    <div class="contenido">
      <b-row>
          <router-view></router-view>
      </b-row>
    </div>
  </div>
</template>

<script>
import MenuLateral from './layouts/MenuLateral.vue'
export default {
components: {
  MenuLateral
},
name: 'app'
}
</script>

<style>
#app {
  margin: 0px;
  padding: 0px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.contenido{
  width: 100%;
  min-height: 100vh;
}
.barra-superior{
  /* background-color: #c9e37c; */
  background: rgb(160,189,74);
  background: linear-gradient(180deg, rgba(160,189,74,1) 0%, rgba(201,227,124,1) 55%, rgba(226,245,173,1) 100%);
}
</style>
