<template>
  <nav id="sidebar" :class="{'active':activo}">
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn btn-primary" @click="activo = !activo">
        <i class="fas fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    <div class="p-4">
      <div class="logomenu">
          <img src="../assets/inicio.jpg" alt="LOGO" width="50%">
      </div>		  	
      <ul class="list-unstyled mt-4">
        <li class="active">
          <a href="javascript:void(0);" @click="showOrd = !showOrd">
            Ordenes<i class="fas fa-angle-down ml-4"></i></a>
          <ul class="list-unstyled" v-if="showOrd">
            <li>
                <router-link to="/ordenes">Lista de orden</router-link>
            </li>
            <li>
                <router-link to="/nueva-orden">Nueva orden</router-link>
            </li>
          </ul>
        </li>
        <li>
            <a href="javascript:void(0);" @click="showFact = !showFact">
              Facturación<i class="fas fa-angle-down ml-4"></i></a>
            <ul class="list-unstyled" v-if="showFact">
            <li>
                <router-link to="/emitidos">Lista de facturas</router-link>
            </li>
            <li>
                <router-link to="/nueva-factura">Nueva factura</router-link>
            </li>
          </ul>
        </li>
        <li>
            <a href="javascript:void(0);" @click="showCli = !showCli">
              Clientes<i class="fas fa-angle-down ml-4"></i></a>
            <ul class="list-unstyled" v-if="showCli">
            <li>
                <router-link to="/clientes">Lista de clientes</router-link>
            </li>
            <li>
                <router-link :to="{ name: 'cliente-create'}">Nuevo cliente</router-link>
            </li>
          </ul>
        </li>
        <li>
            <a href="javascript:void(0);" @click="showAdm = !showAdm">
              Administración<i class="fas fa-angle-down ml-4"></i></a>
            <ul class="list-unstyled" v-if="showAdm">
            <li>
                <router-link to="/tecnicos">Lista de Técnicos</router-link>
            </li>
            <li>
                <router-link to="/dispositivos">Dispositivos/Marcas</router-link>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</template>
<script>
export default {
    data() {
        return {
            activo: false,
            showOrd: false,
            showFact: false,
            showCli: false,
            showAdm: false
        }
    }
}
</script>
<style>
.logomenu {  
  display: flex;
  justify-content: center;
}
#sidebar {
  text-align: left;
  font-family: sans-serif;
  min-width: 200px;
  max-width: 220px;
  /* background: #866ec7; */
  background: rgb(101,76,172);
  background: linear-gradient(90deg, rgba(101,76,172,1) 0%, rgba(134,110,199,1) 55%, rgba(171,153,223,1) 100%);
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative; 
  min-height: 100%;
}
#sidebar .h6 {
  color: #fff; 
}
#sidebar.active {
  margin-left: -250px; 
}
#sidebar.active .custom-menu {
  margin-right: -50px; 
}
#sidebar h1 {
  margin-bottom: 20px;
  font-weight: 700; 
}
#sidebar h1 .logo {
  color: #fff; 
}
#sidebar ul.components {
  padding: 0; 
}
#sidebar ul li {
  font-size: 18px; 
}
#sidebar ul li > ul {
  margin-left: 10px; 
}
#sidebar ul li > ul li {
  font-size: 16px; 
}
#sidebar ul li a {
  padding: 10px 0;
  padding-left: 15px;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}
#sidebar ul li a:hover {
  color: #fff; 
}
#sidebar ul li.active > a {
  background: transparent;
  color: #fff; 
}
@media (max-width: 991.98px) {
  #sidebar {
    margin-left: -250px; 
  }
  #sidebar.active {
    margin-left: 0; 
  }
  #sidebar .custom-menu {
    margin-right: -50px !important;
    top: 10px !important; 
  } 
}
#sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; 
}
@media (prefers-reduced-motion: reduce) {
  #sidebar .custom-menu {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; 
  } 
}
#sidebar .custom-menu .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
}
#sidebar .custom-menu .btn.btn-primary {
  background: #6749b9;
  border-color: #6749b9; 
}
#sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
  background: #6749b9 !important;
  border-color: #6749b9 !important; 
}
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #866ec7; }
  a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }

a[data-toggle="collapse"] {
  position: relative; 
}

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none; 
  } 
}

.list-unstyled {
  padding-left: 0;
  list-style: none; 
}
</style>
